body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1440px;
  height: auto;
  background-color: #4675dd;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

.container .main {
  width: 1200px;
}

.container header {
  background: url("/images/slider.jpg") no-repeat;
  width: 1440px;
  height: 810px;
}

.container .btn_grey {
  border-radius: 30px;
  background-color: transparent;
  border: 0.5px #999 solid;
  color: #333;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
}

.container .btn_grey:hover {
  background-color: #999;
  color: #fff;
}

.container .btn_orange {
  border-radius: 30px;
  background-color: #fdce76;
  border: 0.5px #fdce76 solid;
  color: #333;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  margin-top: 20px;
}

.container .btn_orange:hover {
  background-color: transparent;
  border: 0.5px #fdce76 solid;
  color: #fdce76;
}

.container .main {
  margin: 0 auto;
}

.container .main .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.container .main .header_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
}

.container .main .header_menu .logo h3 {
  color: #fdce76;
}

.container .main .header_menu .menu {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .main .header_menu .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.container .main .header_menu .menu ul li {
  position: relative;
}

.container .main .header_menu .menu ul li.active a {
  color: #fdce76;
}

.container .main .header_menu .menu ul li:hover ul {
  visibility: visible;
}

.container .main .header_menu .menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

.container .main .header_menu .menu ul li a:hover {
  color: #fdce76;
}

.container .main .header_menu .menu ul li ul {
  visibility: hidden;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 56px;
  left: 17px;
  background-color: #fdce76;
}

.container .main .header_menu .menu ul li ul li {
  background-color: #fdce76;
}

.container .main .header_menu .menu ul li ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  display: block;
  white-space: nowrap;
}

.container .main .header_menu .menu ul li ul li a:hover {
  color: #3265da;
}

.container .main .header_menu .login {
  width: 300px;
}

.container .main .header_menu .login button {
  background-color: transparent;
  border-radius: 30px;
  border: 0.5px #fff solid;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
}

.container .main .header_menu .login button:hover {
  color: #fdce76;
  border: 0.5px #fdce76 solid;
}

.container .main .slider {
  padding: 200px 0px;
  left: 10px;
}

.container .main .slider h1 {
  width: 700px;
  font-size: 50px;
  line-height: 0.5;
}

.container .main .slider .slider_text {
  width: 500px;
  color: #666;
  line-height: 1.5;
}

.container section {
  background-color: #3265da;
}

.container section .main {
  margin: 0 auto;
}

.container section .main .main-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.container section .main .relative {
  width: 200px;
  background-color: #4675dd;
  color: #fff;
  padding: 30px 30px;
  text-align: center;
  line-height: 1.5;
  margin: 10px 0;
}

.container section .main .relative p {
  color: #c5d2f1;
}

.container section .main .relative a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 10px;
}

.container section .main .relative a:hover {
  color: #fdce76;
}

.container .about {
  background-color: white;
}

.container .about .main {
  margin: 0 auto;
  padding-bottom: 30px;
}

.container .about .main .content_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #333;
}

.container .about .main .content_about .banner_about img {
  max-width: 100%;
  height: 100%;
}

.container .about .main hr {
  width: 1200px;
  color: #999;
}

.container .about .main .about_support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .about .main .about_support .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.container .about .main .about_support .support .icon_support {
  padding: 40px 20px 0 0;
}

.container .about .main .about_support .support .icon_support img {
  width: 80px;
}

.container .about .main .about_support .support .ctn_support {
  width: 250px;
}

.container .ctn_content {
  padding-top: 50px;
}

.container .ctn_content h2 {
  font-size: 40px;
  font-weight: 200;
}

.container .ctn_content i {
  padding-right: 20px;
  color: #3265da;
  font-size: 18px;
}

.container .ctn_content .head_text {
  width: 500px;
}

.container .head_text {
  font-size: 20px;
  line-height: 1.5;
}

.container .text {
  color: #666;
  line-height: 1.5;
}

.container .pricing {
  background: url("/images/pricing.png") no-repeat;
}

.container .pricing .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.container .pricing .main .content_pricing {
  padding: 60px 0;
  color: #fff;
}

.container .pricing .main .content_pricing .number {
  font-size: 40px;
  margin: 0;
}

.container .service {
  background-color: white;
}

.container .service .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .service .main .banner_service img {
  height: 100%;
}

.container .service .main .ctn_content {
  padding: 120px 0;
}

.container .blog {
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 50px;
}

.container .customer {
  background-color: white;
}

.container .customer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.container .customer .main .logo_customer {
  padding: 40px 10px;
}

.container .map .main {
  margin: 0 auto;
}

.container .contact {
  background-color: #3265da;
}

.container .contact .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.container .contact .main .corevalue {
  padding: 40px;
  text-align: center;
}

.container .contact .main .corevalue a {
  text-decoration: none;
}

.container .contact .main .corevalue a h2 {
  font-size: 30px;
  color: #fff;
}

.container .contact .main .corevalue a h2:hover {
  color: #fdce76;
}

.container .contact .main .corevalue p {
  color: #c5d2f1;
}

.container footer {
  background-color: #23262b;
}

.container footer .main {
  margin: 0 auto;
  padding: 50px 0;
  color: #fff;
}

.container footer .main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container footer .main .logo h2 {
  color: #fdce76;
}

.container footer .main .menu_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container footer .main .menu_footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.container footer .main .menu_footer ul li {
  padding: 10px 20px;
  position: relative;
}

.container footer .main .menu_footer ul li.active a {
  color: #fdce76;
}

.container footer .main .menu_footer ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.container footer .main .menu_footer ul li a:hover {
  color: #fdce76;
}

.container footer .main .link_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container footer .main a {
  text-decoration: none;
}

.container footer .main a:hover span .fa-facebook-f {
  color: #1877f2;
}

.container footer .main a:hover span .fa-twitter {
  color: #1da1f2;
}

.container footer .main a:hover span .fa-google-plus-g {
  color: #d93025;
}

.container footer .main a:hover span .fa-pinterest-p {
  color: #e60023;
}

.container footer .main span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #000;
  margin: 15px;
  border-radius: 100%;
}

.container footer .main .fab {
  font-size: 18px;
}

.container footer .main .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
}
/*# sourceMappingURL=style.css.map */