body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1440px;
    height: auto;
    background-color: #4675dd;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    display: block;

    .main {
        width: 1200px;
    }

    header {
        background: url("/images/slider.png")no-repeat;
        width: 1440px;
        height: 1050px;
    }

    .btn_grey {
        border-radius: 30px;
        background-color: transparent;
        border: 0.5px #999 solid;
        color: #333;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 30px;

        &:hover {

            background-color: #999;
            color: #fff;
        }
    }

    .btn_orange {
        border-radius: 30px;
        background-color: #fdce76;
        border: 0.5px #fdce76 solid;
        color: #333;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 30px;

        &:hover {
            background-color: transparent;
            border: 0.5px #fdce76 solid;
            color: #fdce76;
        }
    }

    .main {
        margin: 0 auto;

        .header_menu {
            display: flex;
            justify-content: center;
            padding-top: 40px;

            .logo {
                display: flex;
                justify-content: space-around;
                width: 100px;

                h3 {
                    color: #fdce76;
                }
            }

            .menu {
                width: 1000px;
                display: flex;
                justify-content: space-around;

                ul {
                    list-style: none;
                    display: flex;
                    padding: 0;

                    li {
                        padding-right: 40px;
                        position: relative;

                        &.active {
                            a {
                                color: #fdce76;
                            }
                        }

                        &:hover {
                            ul {
                                visibility: visible;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            display: block;

                            &:hover {
                                color: #fdce76;
                            }
                        }

                        ul {
                            visibility: hidden;
                            position: absolute;
                            flex-direction: column;
                            top: 38px;
                            left: 0;
                            width: 100px;

                            li {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }

            .login {
                width: 300px;

                button {
                    background-color: transparent;
                    border-radius: 30px;
                    border: 0.5px #fff solid;
                    color: #fff;
                    padding: 15px 30px;
                    font-size: 16px;

                    &:hover {
                        color: #fdce76;
                        border: 0.5px #fdce76 solid;
                    }
                }
            }
        }

        .slider {

            padding: 200px 0px;
            left: 10px;

            h1 {
                width: 700px;
                font-size: 50px;
                line-height: 0.5;
            }

            .slider_text {
                width: 500px;
                color: #666;
                line-height: 1.5;
            }
        }
    }

    section {
        background-color: #3265da;

        .main {

            margin: 0 auto;

            .main-sub {
                display: flex;
                justify-content: space-between;
                padding: 40px;
            }

            .relative {
                width: 200px;
                background-color: #4675dd;
                color: #fff;
                padding: 30px 30px;
                text-align: center;
                line-height: 1.5;
                margin: 10px 0;

                p {
                    color: #c5d2f1;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 10px;

                    &:hover {
                        color: #fdce76;
                    }
                }
            }

        }


    }

    .about {
        background-color: white;

        .main {
            margin: 0 auto;

            .content_about {
                width: 1200px;
                display: flex;
                justify-content: space-between;

                .left_content {
                    padding: 50px;

                    h2 {
                        font-size: 40px;
                        font-weight: 200;
                    }

                    i {
                        padding-right: 20px;
                        color: #fdce76;
                    }

                    .head_text {
                        font-size: 18px;
                        width: 400px;
                        line-height: 1.5;
                    }

                    .text {
                        color: #666;
                        line-height: 1.5;
                    }
                }

                .banner_about {
                    margin-top: 50px;
                    width: 500px;
                    background: url("/images/service.png")no-repeat;
                    // height: 280px;
                    background-size: cover;
                }

                padding-bottom: 30px;
            }

            hr {
                width: 1200px;
                color: #666;
            }

            .about_support {
                display: flex;
                justify-content: center;

                .support {
                    width: 320px;
                    display: flex;
                    justify-content: center;
                    padding: 20px 40px;

                    .icon_support {
                        padding: 40px 20px 0 0;
                    }

                    img {
                        width: 80px;
                    }
                }
            }

        }
    }

    .pricing {
        background: url("/images/pricing.png")no-repeat;

        .main {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            .content_pricing {
                padding: 50px;
                width: 200px;

                .number {
                    font-size: 40px;
                    margin: 0;
                }

                color: #fff;

            }

            text-align: center;
        }
    }

    .service {
        background-color: white;

        .main {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .banner_service {
                padding: 40px;
            }

            .right_service {
                padding: 40px;
            }
        }
    }

    .blog {
        background-color: #f5f5f5;
        text-align: center;
        padding: 60px;
    }

    .customer {
        background-color: white;

        .main {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            .logo_customer {
                padding: 40px 10px;
            }
        }
    }

    .contact {
        background-color: #3265da;

        .main {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;

            .corevalue {
                color: #fff;
                padding: 40px;
                text-align: center;
            }
        }
    }

    footer {
        height: 400px;
        background-color: #23262b;

        .main {
            margin: 0 auto;

            .logo {
                display: flex;
                justify-content: space-around;
                padding: 10px 0px;
                width: 100px;

                h4 {
                    color: #fdce76;
                }
            }

            .menu_footer {
                width: 1000px;
                display: flex;
                justify-content: space-around;

                ul {
                    list-style: none;
                    display: flex;
                    padding: 0;

                    li {
                        padding: 10px 20px;
                        position: relative;

                        &.active {
                            a {
                                color: #fdce76;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            display: block;

                            &:hover {
                                color: #fdce76;
                            }
                        }
                    }
                }
            }
        }
    }
}